@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro Regular"), local("SourceSansPro"),
    url("./../fonts/SourceSansPro-Regular.ttf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro Italic"), local("SourceSansProItalic"),
    url("./../fonts/SourceSansPro-It.ttf.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro Bold"), local("SourceSansProBold"),
    url("./../fonts/SourceSansPro-Bold.ttf.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro BoldItalic"), local("SourceSansProBoldItalic"),
    url("./../fonts/SourceSansPro-BoldIt.ttf.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

:root {
  --bodyFont: "Source Sans Pro", sans-serif;
  --outerMargin: 25px;
  --innerMargin: 10px;
  --textColor: #333;
  --backgroundColor: #eee;
  --lineColor: #888;
  --black: black;
  --white: white;
  --navWidth: 200px;
  --headerHeight: 60px;
  --highlightColor: #2d8fd5;
  --pointColor: firebrick;
  color: var(--textColor);
  font-family: var(--bodyFont);
  font-size: 16px;
  line-height: 24px;
  background-color: var(--backgroundColor);
  box-sizing: border-box;
}

.comment {
  text-transform: lowercase;
  font-style: italic;
  font-weight: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

select,
option,
button {
  font-family: var(--bodyFont);
}

select {
  padding: 2px 5px;
}

button {
  padding: 2px 5px;
  background-color: var(--white);
  border: 1px solid var(--lineColor);
}

a {
  color: var(--highlightColor);
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  text-decoration: underline;
}
